GIMP/
MuseScore/
PairForce/
QtProject.conf
autostart/
chromium/
dconf/
deluge/
eog/
htop/
hub
inkscape/
keybase/
liferea/
mpd/
nautilus/
pavucontrol.ini
pulse/
remmina/
systemd/
youtube-viewer/
zoomus.conf
