#TabsToolbar::after {
  position: absolute;
  top: 10px;
  right: 5px;
  content: "$PROFILE_NAME";
  color: #fff;
  background: $PROFILE_COLOR;
  padding: 1px 7px;
  border-radius: 5px;
  font-weight: 800;
  opacity: 1;
  transition: opacity 200ms;
  pointer-events: none;
  z-index: 999;
}
#TabsToolbar:hover::after {
  opacity: 0;
}

#webrtcIndicator {
  display: none !important;
}


.browserContainer > findbar {
  -moz-box-ordinal-group: 0;
}

/* transparent title bar */
#main-window {
  -moz-appearance: toolbox !important;
}

#TabsToolbar {
  -moz-appearance: toolbox !important;
}

#toolbar {
  appearance: toolbox !important;
  -moz-appearance: toolbox !important;
  background: transparent !important;
}

#navigator-toolbox {
  background: rgba(240, 240, 240, 0.6) !important;
}

@media (prefers-color-scheme: dark) {
  #nav-bar {
    background: rgba(0, 0, 0, 0.8) !important;
  }

  #navigator-toolbox {
    background: rgba(0, 0, 0, 0.4) !important;
  }
}
