/***********************************************
 * Add firefox profile name & color to URL bar *
 ***********************************************/
#page-action-buttons {
  border-right: 1px solid transparent;
}
#page-action-buttons::after {
  display: -moz-box;
  margin-block: calc((var(--urlbar-min-height) - 20px) / 2 - 1px - var(--urlbar-container-padding));
  content: "$PROFILE_NAME";
  color: #fff;
  background: $PROFILE_COLOR;
  padding: 1px 7px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 5px;
  font-weight: 800;
  opacity: 1;
}

/******************************************
 * Move address and tab bar to the bottom *
 ******************************************/
#browser {
	-moz-box-ordinal-group: 0 !important;
}
#urlbar[breakout][breakout-extend] {
  top: auto !important;
  bottom: 0;
  display: flex !important;
  flex-direction: column-reverse;
}
/* Reverse tab/nav bar */
#nav-bar {
  -moz-box-ordinal-group: 0;
}

/****************
 * Misc theming *
 ****************/
#nav-bar {
  background: transparent !important;
}

#urlbar:not([focused]) #urlbar-background {
  background: rgba(0, 0, 0, 0.08) !important;
  border: none !important;
}

#TabsToolbar {
  appearance: none !important;
}

#nav-bar {
  box-shadow: none !important;
}

#navigator-toolbox-background {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

/*******************************************
 * Hide tab bar if only single tab is open *
 *******************************************/
/* Modified from github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/hide_tabs_with_one_tab.css
 *
 * Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_with_one_tab.css made available under Mozilla Public License v. 2.0
 * See the above repository for updates as well as full license text.
 *
 * Makes tabs toolbar items zero-height initially and sets enlarge them to fill up space equal to tab-min-height set on tabs. Optionally use privatemode_indicator_as_menu_button.css to replace main menu icon with private browsing indicator while tabs are hidden.
 *
 * This style causes CSD window controls to disappear on linux, but you can kind of work around that by using window_control_fallback_for_custom_windows_theme.css */

#tabbrowser-tabs,
#tabbrowser-arrowscrollbox{ min-height: 0 !important; }

:root:not([customizing]) #tabs-newtab-button,
:root:not([customizing]) #TabsToolbar-customization-target > .toolbarbutton-1,
:root:not([customizing]) #TabsToolbar .titlebar-button{
  display: none !important;
}

.tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"]{
  visibility: collapse !important;
  /* These seem unnecessary, but they achieve compatibility with hide_tabs_with_one_tab.css */
  min-height: 0 !important;
  height: 0;
}
